header {
  padding-inline: 1vw;
  height: 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  color: black;
}

header input {
  display: block;
  place-self: center;
  width: 24vw;
  min-width: 250px;
  font-size: 0.825em;
  padding-block: .25em;
  padding-inline: .75em;
  border: none;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.posts-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-inline: auto;
  margin-block: 50px;
}

.post-tile {
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-tile-image {
  flex-direction: row;
  justify-content: space-between;
}

.post-tile div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.75rem;
}

.post-tile img {
  width: 50%;
  border-radius: 15px;
}